
.container-bottom-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    position: fixed;
    bottom: 0; left: 0;
}

 .bottom-menu {
    text-align: center;
    height: 100%;

    .row {
        padding: 0;
    }
   

    ul {
    width: 100%;
    justify-content: center;
    align-items: center;
    }
    
    .bot-top {
    padding: 0;
    }

    li {
    display: flex;
    height: 40px;
    text-align: center;
    align-items: center;
    border-top: 1px solid #191919;
    padding-top: 10px;

        &:hover {
        background-color: #f2f2f2;
        svg {fill: black;}
        a {color: black;}
        }
    }

}


