.container-table {
  background-color: white;
  padding: 12px;
  margin: 12px;
}


h2 {
  text-align: center;
  padding-top: 20px 0;
}

.table-bordered {
  border: 1px solid #ddd !important;
}

table caption {
  padding: .5em 0;
}

table tbody tr td {
  text-align: center !important;
}

// @media (max-width: 768px) {
//   .tablesaw-stack tbody tr:not(:last-child) {
//     border-bottom: 2px solid #0B0B0D;
//     border: 1px solid #ddd !important;
//     margin: 0 10px;
//   // }
// }

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}