.container-table {
  background-color: white;
  padding: 12px;
  margin: 12px 0px 12px 12px;
  height: 90vh;
  display: none;
  overflow-x: auto;

  .row {
    justify-content: center;
    align-items: center;
  }
  .center {
    text-align: center;
}
  .col-sm-12 {
    padding: 0;
  }

  table {
    margin: 0 15px;
    max-width: 98%;
    vertical-align: middle; 
  }

  thead > tr {
    background-color:white;
    color: #a6a6a6;
  }

  .ba {
    background-color:white;
    color: #a6a6a6;
    text-align: center;
    vertical-align: middle; 
    &:hover {
      background-color: #f3efefe1;
    }
  }

  .ba1 {
    vertical-align: middle; 
  }

  tbody > tr {
    background-color:white;
    color: black;
    vertical-align: middle; 
  }

  tbody > td {
    vertical-align: middle;
  }

  a {
    margin: 0 15px;
  }

  tfoot {
    td {
    height: 20px;
    text-align: center;
    }
  }
  ul.pagination {
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    }

    ul.pagination li {
      display: inline;
    }

    ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-color: white;
    }
}

td {
  height: 70px;
}

.table-bordered {
  border: 1px solid #ddd !important;
}

table caption {
  padding: .5em 0;
}

table tbody tr td {
  text-align: center !important;
}

table ul {
  padding: 0;
  a {margin: 20px;}
}


.p {
  text-align: center;
  padding-top: 200px;
  font-size: 14px;
}

.links-header1 {
  border-bottom: 1px solid #f5f5f2;
  padding: 0 0 15px 0;
  margin: 5px 0 20px 5px;
}

