
.component--menu-topbar {
  position: fixed;
  top: 0; right: 0;
  width: calc(100% - 190px);
  color: black;
  background-color: white;
  height: 72px;
  border-bottom: 12px solid rgb(245,245,242);
  z-index: 9992;

  ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex-item {
  border-left: 1px solid #191919;
  padding: 20px 20px 14px 20px;
  height: 60px;
}

.flex-item1 {
  border-left: 0;
  padding: 14px 20px 14px 5px;
  height: 60px;
}

.flex-item2 {
  border-left: 1px solid #191919;
  padding: 18px 0px 14px 20px;
  align-items: center;
  height: 60px;
  }

a {
  padding: 0 10px;
  }

img {
  width: 16px; 
  height: 16px; 
  }
  
  #notification {
  width: 16px; 
  height: 16px;
  position: absolute; 
  }

  #indicator {
  width: 8px; 
  height: 8px;
  position: relative;
  left: 8px;
  top: -8px;  
  }
}