.container-table { background-color: white; padding: 12px; margin: 12px 0px 12px 12px; height: 90vh; display: none; overflow-x: auto; }

.container-table .col-sm-12 { padding: 0; }

.container-table table { margin: 0 15px; max-width: 98%; }

.container-table thead > tr { background-color: #f58220; color: white; }

.container-table tbody > tr { background-color: #ffe2b2; color: black; }

.container-table a { margin: 0 15px; }

.container-table tfoot td { height: 20px; text-align: center; }

td { height: 70px; }

.table-bordered { border: 1px solid #ddd !important; }

table caption { padding: .5em 0; }

table tbody tr td { text-align: center !important; }

table ul { padding: 0; }

table ul a { margin: 20px; }

.p { text-align: center; padding-top: 200px; font-size: 14px; }

.links-header1 { border-bottom: 1px solid #f5f5f2; padding: 0 0 15px 0; margin: 5px 0 20px 5px; }
