.container-bottom-menu { width: 100%; margin: 0 auto; padding: 0; background-color: white; position: fixed; bottom: 0; left: 0; }

.bottom-menu { text-align: center; height: 100%; justify-content: center; align-items: center; }

.bottom-menu ul { width: 100%; justify-content: center; align-items: center; padding: 0 10px; }

.bottom-menu li { display: flex; height: 40px; text-align: center; align-items: center; border-top: 1px solid #191919; }

.bottom-menu li:hover { background-color: #f2f2f2; }

.bottom-menu li:hover svg { fill: black; }

.bottom-menu li:hover a { color: black; }
