.container-table { background-color: white; padding: 12px; margin: 12px 0px 12px 12px; height: 90vh; display: none; overflow-x: auto; }

.container-table .row { justify-content: center; align-items: center; }

.container-table .center { text-align: center; }

.container-table .col-sm-12 { padding: 0; }

.container-table table { margin: 0 15px; max-width: 98%; vertical-align: middle; }

.container-table thead > tr { background-color: white; color: #a6a6a6; }

.container-table .ba { background-color: white; color: #a6a6a6; text-align: center; vertical-align: middle; }

.container-table .ba:hover { background-color: #f3efefe1; }

.container-table .ba1 { vertical-align: middle; }

.container-table tbody > tr { background-color: white; color: black; vertical-align: middle; }

.container-table tbody > td { vertical-align: middle; }

.container-table a { margin: 0 15px; }

.container-table tfoot td { height: 20px; text-align: center; }

.container-table ul.pagination { display: inline-block; text-align: center; margin-top: 15px; }

.container-table ul.pagination li { display: inline; }

.container-table ul.pagination li a { color: black; float: left; padding: 8px 16px; text-decoration: none; border-color: white; }

td { height: 70px; }

.table-bordered { border: 1px solid #ddd !important; }

table caption { padding: .5em 0; }

table tbody tr td { text-align: center !important; }

table ul { padding: 0; }

table ul a { margin: 20px; }

.p { text-align: center; padding-top: 200px; font-size: 14px; }

.links-header1 { border-bottom: 1px solid #f5f5f2; padding: 0 0 15px 0; margin: 5px 0 20px 5px; }
